.text-break {
    overflow-wrap: break-word !important;
    word-break: break-word !important;
}

#youtubePlayer {
    pointer-events: none;
    /* height: 39px;
    width: 39px; */
    background-color: #000 !important;
}

#youtubePlayer.hidden {
    position: fixed !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

#markdown-read>h1,
#markdown-read>h2,
#markdown-read>h3,
#markdown-read>h4,
#markdown-read>h5,
#markdown-read>h6 {
    margin-top: 24px !important;
    margin-bottom: 16px !important;
    font-weight: 600 !important;
    line-height: 1.25 !important;
}

#markdown-read>h1,
#markdown-read>h2 {
    border-bottom: 1px solid #303030;
    padding-bottom: 6px;
}

#markdown-read>hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #303030;
    border: 0;
}

.page-item.active a {
    font-weight: bold;
}

.ficMode #mdMenu #crypto-wallet,
.ficMode #mdMenu #discord-server,
.ficMode #mdMenu #license {
    display: none !important;
}

#music-player>a {
    padding: 11px;
    display: inline-block;
}

#music-player>a.disabled {
    opacity: 0.7 !important;
    pointer-events: none !important;
}

.disabled-player {
    display: none !important;
}


/* Cicle Day Night */

body.ficMode {
    transition: background-color 1s;
}

body.fic-daycicle-morning {
    background-color: #202020;
}

body.fic-daycicle-evening {
    background-color: #2c2a26;
}

body.fic-daycicle-night {
    background-color: #0d1322;
}

body.fic-daycicle-lateAtNigh {
    background-color: #0c0e1a;
}