#posts .main {
    min-width: 100%;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container,
    .container-sm,
    .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1140px;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #cccccc;
    background-color: rgb(29, 29, 29);
}

.post-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
}

.pop-menu {
    background-color: rgb(11, 11, 11);
}

.pop-menu ul li a {
    color: #fff;
}

.pop-menu ul li a:hover {
    color: #000;
}

.link-wrapper .link {
    color: #2b2b2b;
}

.nav-menu {
    color: #fff;
    background-color: #a91126;
}

.nav-menu {
    padding-top: 1px;
    padding-bottom: 11px;
}

.nav-wrapper.nav-responsive .inline-nav::after {
    width: 0 !important;
}

#pagination a,
.nav-wrapper .nav-item .label {
    color: #fff;
}

#header .avatar-wrapper .user-avatar {
    border: 0;
    margin: 4px;
}