/* AI Tab */
body:not(.can-ai) {
  .nav-ai {
    display: none !important;
  }
}

body.is-using-ai {
  .page-footer {
    display: none !important;
  }

  #root {
    padding-top: 8px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  #markdown-read {
    padding: 0px;
    margin: 0px;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    position: absolute;
    padding-bottom: 56px;
  }

  &,
  #root,
  #app {
    overflow: hidden !important;
  }

  /* AI Chatbox */
  #ai-chatbox {
    &.hide-msg-buttons {
      .ai-text-editor > button {
        pointer-events: none !important;
        & > * {
          opacity: 0.6 !important;
        }
      }
    }

    .ai-text-editor {
      text-align: end;
      margin-bottom: -31px;
      position: relative;
      top: -31px;
      right: 8px;
    }

    .ai-chat-data {
      border: 1px solid transparent;
      &:hover {
        border-color: #fff;
      }

      .ai-text-editor {
        display: none;
      }

      &:not(.entering-ai-message):hover .ai-text-editor {
        display: block;
      }

      &:not(.entering-ai-message) .final-ai-icon {
        display: none;
      }

      &:hover .btn-bg {
        background-color: #1d1d1d;
      }

      &:hover .btn-bg:hover {
        background-color: #383838;
      }

      p:last-child,
      h1:last-child,
      h2:last-child,
      h3:last-child,
      h4:last-child,
      h5:last-child {
        margin-bottom: 0px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 8px;
      }

      thead th {
        text-align: left;
        font-weight: bold;
        padding: 8px;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
      }

      tbody td {
        padding: 8px;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
      }

      /* Ai roleplay style */
      .bg-secondary em {
        color: var(--gray);
      }

      .bg-primary em {
        color: var(--bs-gray-300);
      }

      .alert {
        background-color: #000 !important;
      }

      .alert .btn-close {
        filter: var(--bs-btn-close-white-filter) !important;
      }
    }
  }

  /* Ai Mode List */
  #ai-mode-list .btn.selected {
    color: #e36b00;
  }
}
