#root {
  padding-top: 56px;
}

.pswp--open {
  position: fixed !important;
}

/* Web3 */
body:not(.browser-with-web3) .web3-element {
  display: none;
}

#login {
  transition: color 1s;
}

.web3-connected #login {
  color: #3ad63a !important;
}

.web3-connected.ficMode #login {
  color: #40cce6 !important;
}

/* Navbar Top - offcanvas */
#offcanvasNavbar {
  background-color: #171717;
  border-color: #000;
  max-width: 360px;
  width: 100%;
  overflow-y: auto;
}

#offcanvasNavbar .offcanvas-body {
  padding-top: 0px;
}

#offcanvasNavbar .offcanvas-title {
  padding-top: 16px;
  padding-bottom: 7px;
}

#offcanvasNavbar .offcanvas-header {
  padding: 0px;
  display: block;
  text-align: center;
}

#offcanvasNavbar .offcanvas-header > .btn-close {
  position: fixed;
  top: 8px;
  font-size: 10px;
  right: 15px;
}

#offcanvasNavbar .nav-item {
  padding-top: 7px;
  padding-bottom: 7px;
  list-style: none;
}

#offcanvasNavbar .nav-item .nav-link,
#offcanvasNavbar .nav-item {
  text-align: center;
  align-self: center;
  width: 100%;
  border-radius: 10px;
}

#offcanvasNavbar .nav-item .nav-link,
#offcanvasNavbar .nav-item {
  background-color: #1e1e1e;
}

#offcanvasNavbar .nav-item:hover .nav-link,
#offcanvasNavbar .nav-item:hover {
  background-color: #2c2c2c;
}

#offcanvasNavbar .nav-item:active .nav-link,
#offcanvasNavbar .nav-item:active {
  background-color: #333333;
}

#offcanvasNavbar .nav-item .nav-link {
  margin: 0px !important;
}

#offcanvasNavbar .nav-item:not(:first-child) .nav-link,
#offcanvasNavbar .nav-item:not(:first-child):not(.empty) {
  margin-top: 8px;
}

/* #offcanvasNavbar .nav-item + li,
#offcanvasNavbar #status >*:not(:empty) {
  border-top: 1px solid;
} */

#offcanvasNavbar #status:not(:empty) {
  margin-top: 8px;
}

#offcanvasNavbar #status:empty {
  margin-top: -20px;
}

#offcanvasNavbar #status > *:empty {
  margin-top: -13px;
}

#offcanvasNavbar .nav-item #music-player,
#offcanvasNavbar .nav-item #tts-player {
  margin: 0px !important;
  border: 0px !important;
}

/* Navbar Top */
.tiny-navabar-style .navbar-nav-left,
.tiny-navabar-style .navbar-nav-right {
  white-space: nowrap;
  overflow-x: auto;
  flex-grow: 1;
}

.tiny-navabar-style {
  white-space: nowrap;
}

.tiny-navabar-style .navbar-collapse {
  padding-top: 9px;
  padding-bottom: 10px;
}

.tiny-navabar-style .navbar-toggler {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mastodon-tag-copy {
  pointer-events: none;
  position: fixed;
  top: -500px;
  left: 0;
}

/* Break Word */

.text-break {
  overflow-wrap: break-word !important;
  word-break: break-word !important;
}

/* Youtube */

#youtubePlayer {
  pointer-events: none;
  /* height: 39px;
    width: 39px; */
  background-color: #000 !important;
}

#youtubePlayer.hidden {
  position: fixed !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

/* Markdown */

#markdown-read > h1,
#markdown-read > h2,
#markdown-read > h3,
#markdown-read > h4,
#markdown-read > h5,
#markdown-read > h6 {
  margin-top: 24px !important;
  margin-bottom: 16px !important;
  font-weight: 600 !important;
  line-height: 1.25 !important;
}

#markdown-read > h1,
#markdown-read > h2 {
  border-bottom: 1px solid #303030;
  padding-bottom: 6px;
}

#markdown-read > hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #303030;
  border: 0;
}

/* Page Item */

.page-item.active a {
  font-weight: bold;
}

/* Fic Mod */

.ficMode .mdMenu #donations-menu,
.ficMode .mdMenu #discord-server,
.ficMode .mdMenu #license,
.ficMode .mdMenu #derpibooru-page,
.ficMode .mdMenu #blog-url {
  display: none !important;
}

/* Status Icons */
#fic-nav #status {
  display: flex;
  align-items: center;
}

#fic-nav #status #weather,
#fic-nav #status #bookmark,
#fic-nav #status #dayNightCycle {
  font-size: 13pt;
  margin-top: -5px;
  position: relative;
  top: 3px;
}

#music-player > a,
#tts-player > a {
  margin: 1px 4px;
  padding: 5px;
  display: inline-block;
}

#music-player > a.disabled,
#tts-player > a.disabled {
  opacity: 0.7 !important;
  pointer-events: none !important;
}

.tts-player,
.disabled-player {
  display: none !important;
}

@import './day-night-cycle.scss';

/* Selected table row */
.selected-tr {
  outline: 1px solid red;
}

#markdown-read pre,
#markdown-read pre code {
  font-family:
    Lucida Console,
    Lucida Sans Typewriter,
    monaco,
    Bitstream Vera Sans Mono,
    monospace !important;
}

#markdown-read pre {
  background-color: #2d2d2d;
  border: 1px solid #000;
  padding: 15px;
}

#markdown-read pre code {
  color: #fff;
  white-space: pre-wrap;
}

.badge.chapter-notification:hover {
  opacity: 0.7;
  cursor: pointer;
}

@import './wiki.scss';

/* BTN */
.btn-bg {
  text-decoration: none !important;
}

.btn-bg:hover {
  background-color: #1d1d1d;
  color: #f0f0f0;
}

@import './ai-chatbot.scss';

/* Dropdown */
.tippy-content {
  padding: 0px;
}

.tippy-box {
  background-color: transparent;
  border: 0;
}

.tippy-content > .dropdown-menu {
  position: inherit;
}

@import './donate-effects.scss';
@import './loading-overlay.scss';
