#dice-roll,
[id^='dice-roll-'] {
  /* RPG Dices */
  .dice-exp {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

#ai-element-root {
  /* Offcanvas */
  .offcanvas {
    padding-top: 56px;
    max-width: 900px;
    width: 100%;

    .je-object__container {
      .card {
        background-color: transparent !important;
        border-left: 0px;
        border-right: 0px;
        border-radius: 0;
      }

      &,
      .card {
        padding: 10px 0px !important;
        padding-left: 3px !important;
      }

      .h3 {
        font-size: 21px !important;
        margin: 0px;
        display: inline-flex !important;
        align-items: center;
      }

      .btn {
        margin: 3px;
        border-radius: 4px;
      }

      .je-modal {
        padding: 9px !important;
        background-color: #242424;
      }
    }
  }

  .offcanvas-header,
  .offcanvas-body {
    height: 100%;
  }

  .offcanvas-header {
    padding: 0px;
  }

  .offcanvas-header {
    align-items: start;
  }

  .offcanvas-title {
    display: none;
  }

  #rpg_ai_base_1 {
    .btn-close {
      right: 10px;
    }

    .offcanvas-body {
      padding-right: 30px;
    }
  }

  #rpg_ai_base_2 {
    .btn-close {
      left: 0px;
    }

    .offcanvas-body {
      padding-left: 30px;
    }
  }

  .offcanvas-header .btn-close {
    position: absolute;
    z-index: 1;
    font-size: 10px;
    margin-top: 0px;
  }
}

/* Map */
#tinyMaps {
  table tr,
  table td {
    overflow: hidden;
  }

  table tr {
    vertical-align: middle;
  }

  table td {
    border-width: 1px;
    text-align: center;
  }

  table td[location_enabled='on'] {
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.7);
    animation: tinymaps_pulse_mark 1.5s infinite;
  }

  @keyframes tinymaps_pulse_mark {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }
    70% {
      box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
  }

  table {
    table-layout: fixed;
  }
}
