.wiki-page {
  /* Wiki Page */
  .character-wikicard .pswp-space {
    display: none;
  }

  @media (min-width: 768px) {
    .character-wikicard {
      width: 400px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    border-bottom: 1px solid #393a3c;
    display: flex;
    padding-bottom: 4px;
  }

  .character-wikicard {
    h1,
    h2,
    h3,
    h4,
    h5 {
      display: block;
    }
  }

  .character-wikicard h1,
  .character-wikicard h2,
  .character-wikicard h3,
  .character-wikicard h4,
  .character-wikicard h5,
  .content-list-data .collapse-content h5 {
    border-bottom: 0px solid transparent;
    padding-bottom: 0px;
  }
}
